/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body {
  
  
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.letters img{
  width: 100px;
}

.letters {
  text-align: center;
}

.lettersheet {
  text-align: center;
}

.lettersheet img{
width: 50%;

}

p {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

#profilephoto{
  margin-top: 20px;
  width: 40%;
  height: 40%;
}

#download {
  margin-top: 30px;
}

#download a {
  color:  #5D5D5D;
  border: 1px solid #5D5D5D;
  border-radius: 10px;
  padding: 10px;
}
#download a:hover {
  text-decoration: underline;
  color: #000;
  border: 1px solid black;


  
}


ul li{
  list-style: none;
}
 
ul {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
}

.nav-about{
  text-decoration: underline;
}

#intro p {
  color: #5D5D5D;

}

#name {

  font-weight: 800;
}


#profilephoto {
  display: block;
}

#main {
  background-image: none;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.header a {
  position: relative;

}

.header a {
  color: #000;
}

.header a:hover {
  color: #000;
}

.header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.header a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.appicons {
  width: 80px;
  display: flex;
  flex-direction: row;
  
}

#appicons {
  width: 300px;
  display: flex;
  flex-direction: row;
  margin:0 auto;
  order: 1;
}

#intro{
  order: 2;
  margin: 20px 40px;
}

.icon {
  width: 50%;
  
}

.icon:hover{
  opacity:1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.right {
  margin-top:70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}


@media only screen and (min-width: 800px) {

  
 

  #main {
    background-image: url(../img/bushiwo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #profilephoto {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

 
  
  ul {
    margin-bottom: 0;
    margin-top: 0px;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }

  
  

  #intro {
    position: absolute;
    right: 15vh;
    bottom: 15vh;
    margin:0;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
  }


  .right {
    margin-top: 0;
    flex-direction: column;
    justify-content: flex-end;
    text-align:left;
  }

  .appicons {
    flex-direction: column;
  }

  .icon {
    width: 60%;
    
  }

  #appicons {
    width: 200px;
    position: absolute;
    right: 10vh;
    bottom: 5vh;
    flex-direction: row;
  }
  
  



}

@media only screen and (min-width: 950px) {
  #download a {
    color:  #5D5D5D;
    border: 1px solid #5D5D5D;
  }
  #download a:hover {
    color: #000;
    border: 1px solid black;
  }

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

