/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   * {
    box-sizing: border-box;
  }

  body {
    
    
    margin:0 auto;
    width: 100%;

  }
  footer {
    height: 100px;
  }
 #float {
  position: fixed; 
  right: 10px; 
  bottom: 10px;
  z-index: 9999;
 }

 #float img {
  width: 50px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 3px 2px 27px 2px rgba(0,0,0,0.2);
 }

 #float img:hover {
  
  border: 2px solid black;
  cursor: pointer;
  
 }



  a {
    text-decoration: none;
  }

  #ohlistStyles {
    width: 90%; 
    margin: auto;
    font-size: 22px; 
    font-weight: 700; 
    line-height: 1.8;
   color: #2861EA;
    font-style: italic;
  }
  #ourhome {
    margin: 0 auto;
    font-family: 'Rosario', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    background-color: #f7f9ff;
  }
  #ourhome .bigfont{
   font-size: 40px;
   font-weight: 700;
  
  }

  #ourhome .ourhomeimg {
    width: 100%;
    text-align: center;
  
  }
  #ourhometitle {
     text-align: center;
     margin: 20px 0;
  }
  #ourhometitle p {
    margin: 0; 
  }

  #design-system {
    width: 100%;
    display: flex;
    justify-content: space-around;
  flex-direction: column;
    
  }

  #design-system img{
    width: 70%;
    margin: auto;
    margin-bottom:20px;
  }


#ourhome .sub-head{
  font-size: 20px;
   font-weight: 700;
   color: #757681;
   padding: 10px 20px;
   border-radius: 15px;
   /* background-color: white; */
   -webkit-box-shadow: 2px 1px 8px -2px rgba(0, 140, 255, 0.20); 
   box-shadow: 2px 1px 8px -2px rgba(0, 140, 255, 0.20);  
   
}

  #ourhome .sub-head2{
    color: #F46A83;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
  }

.flexthree {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
}

.centerdiv {
  text-align: center;
  width: 90%;
  margin: auto;
}

.flexthree img {
  width: 300px;
  /* border: 3px solid rgb(224, 224, 224); */
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 14px 22px;
  color: rgb(158, 158, 158);
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius:50px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.479);
  color: white;
}

/* Caption text */
.text {
  color: white;
  background-color: rgba(0,0,0,0.3);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #51575a;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.imghover img{
  border-radius: 20px;

}

.imghover img:hover {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 114, 207, 0.19); 
  box-shadow: 3px 3px 10px 0px rgba(0,114,207,0.19);  
  transition: all 0.4s ease-in-out 0.2s;


}








  #travelers{
    text-align: center;
    background-color: #759598;
    font-weight: 200;
    color: white;
    font-family: 'AzoSans', helvetical, sans-serif;
  }
  #travelers-title{
    color: white;
  }
  #travelers_link {
    position: relative;
    font-family: 'AzoSans', helvetical, sans-serif;
    padding: 25px 0 0 0;
    width: 100%;
    color: white;
    display: block;
    font-size: 20px;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: #51575a;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19); 
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);  
  }
  
  #travelers_link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color:white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  /* #studium a:hover {
    color: #001a1a;
    text-decoration: underline;
    
  } */
  #travelers_link:hover::before{
    visibility: visible;
    transform: scaleX(2);
  }

  #wellscan {
    background-color: #d8ead9;
    font-weight: 200;
    text-align: center;
  }

  #gc {
    background-color: #fff5f4;
    text-align: center;
  }

  #gc .mockup {
    width: 45%;
  }
  
  #wellscan-title{
    color: #655c56;
  }
  #wellscan_link {
    position: relative;
    font-family: 'AzoSans', helvetical, sans-serif;
    padding: 25px 0 0 0;
    width: 100%;
    color:  #655c56;
    display: block;
    font-size: 17px;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: #d8ead9;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19); 
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);  
  }
  
  #wellscan_link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color:#95b49c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  #wellscan_link:hover::before{
    visibility: visible;
    transform: scaleX(2);
  }
  .item {
    width: 100%;
    margin: 0 auto;

  }

  .mockup {
    width: 100%;
  }
  
  .youtube {
    width: 100%;
    height: 597px;
  }

  #studium {
    background-color: #fffaef;
    text-align: center;
    /* background-color: #ffd37f; */
  }
  .bold-title{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0;
  }
#studium li {
  font-family: hoefler-text;
  color: #015959;

}

li {

  text-align: left;
}
  .bold {
    font-weight: 700;
  }

  #studium-title {
    font-family: hoefler-text;
    color: #ffad00;
  }
  #studium p{
    font-family: optima, helvetical, sans-serif;
    color: #015959;
  }
  .flexdivs {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
  }

  .flexdivs div{
    width: 90%;
    margin: 0 auto;
  }

  table {
    text-align: left;
    margin: 0 auto;
    width: 80%;
    border-collapse:separate;
    border-spacing:0;
  
  }

  #studium td{
    border: 5px solid #fffaef;
    color:#015959;
    background-color: #c7e4cd;
  }

  #travelers td {
    border: 5px solid #759598;
    color:#fff;
    background-color: #51575a;
  }

.tg td{
  font-family: optima, helvetical, sans-serif;
  
  border-radius: 50px;
  -moz-border-radius: 50px;

  
  
  padding: 20px 30px;
}
  .mockupmd {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
  }
  .mockupsm {
    width: 100%;
  }
 

  #studium_link {
    position: relative;
    font-family: optima, helvetical, sans-serif;
    padding: 25px 0 0 0;
    width: 100%;
    color: #015959;
    display: block;
    font-size: 20px;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: #fffaef;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19); 
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);  
  }
  
  #studium_link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #015959;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  /* #studium a:hover {
    color: #001a1a;
    text-decoration: underline;
    
  } */
  #studium_link:hover::before{
    visibility: visible;
    transform: scaleX(2);
  }


  #gc-bg{
    background-color: white;
  }
  #gc-bg:hover{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19); 
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);  
    transition: all 0.4s ease-in-out 0.2s;
    cursor: pointer;
  }

  #toyoutube:hover{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(207, 110, 0, 0.19); 
    box-shadow: 3px 3px 10px 0px rgba(207,110,0,0.19);  
    transition: all 0.4s ease-in-out 0.2s;
    cursor: pointer;
  }




  @media only screen and (min-width: 1000px) {
    .flexdivs {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 100px;
    }

  .flexdivs div{
    width: 45%;
  }
  .flexthree {
    flex-direction: row;
  }


.centerdiv {
  text-align: center;
  width: 400px;
  margin: auto;
}

  #design-system {
    flex-direction: row;
  }

  #design-system img{
    width: 17%;
 

  }

  #ohlistStyles {
    width: 60%; 
   
  }

  table {
    width: 60%;
  
  }

  .mockupsm {
    width: 60%;
  }
  .mockupmd {
    width: 70%;
   
  }
  }
  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

